<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <input id="new-todo" autofocus placeholder="What needs to be done?" v-model="name" @keyup.enter="create">
  </header>
  <section id="main" v-show="all.length">
    <input id="toggle-all" type="checkbox" v-model="allDone">
    <ul id="todo-list">
      <li v-for="it in this[activeFilter]" :class="{todo:true, completed:it.completed, editing:it.oldName}">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="it.completed">
          <label @dblclick="it.oldName = it.name">{{it.name}}</label>
          <button class="destroy" @click="all.$remove(it)"></button>
        </div>
        <input class="edit" v-model="it.name" v-select="it.oldName" @blur="save(it)" @keyup.enter="save(it)" @keyup.esc="cancel(it)">
      </li>
    </ul>
  </section>
  <footer id="footer" v-show="all.length">
    <span id="todo-count"><strong>{{active.length}}</strong> {{active.length | pluralize 'item'}} left</span>
    <ul id="filters">
      <li><a href="#/all" :class="{selected:activeFilter=='all'}">All</a></li>
      <li><a href="#/active" :class="{selected:activeFilter=='active'}">Active</a></li>
      <li><a href="#/completed" :class="{selected:activeFilter=='completed'}">Completed</a></li>
    </ul>
    <button id="clear-completed" @click="removeCompleted" v-show="all.length>active.length">Clear completed</button>
  </footer>
</section>


<footer id="info">
  <p>Created by <a href="https://github.com/farzher">Stephen Kamenar</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a> <a href="https://github.com/farzher/vue-livescript-todomvc" style="color: #ca9797">Source Code</a></p>
</footer>
<link rel="stylesheet" href="https://rawgit.com/tastejs/todomvc/gh-pages/examples/mithril/node_modules/todomvc-app-css/index.css">
<link rel="stylesheet" href="https://rawgit.com/tastejs/todomvc/gh-pages/examples/mithril/node_modules/todomvc-common/base.css">
<script src="https://rawgit.com/farzher/prelude-ls-extended/master/browser.min.js"></script>
<script src="https://rawgit.com/flatiron/director/master/build/director.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></script>
<script src="vue-extended.js"></script>
<script src="app.js"></script>
